<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
      <add key="InputPath" value="E:\Pdfs"/>
      <add key="OutputPath" value="C:\PdfUtilityTool Output"/>
      <add key="LogPath" value="C:\PdfUtilityTool Log"/>

      <add key="EnableCombinedLogAndReport" value="true"/>
      <add key="CombinedOutputPath" value="C:\PdfUtilityTool Output\CompleteOutput.csv"/>
      <add key="CombinedSummaryLogPath" value="C:\PdfUtilityTool Log\SummaryLog.txt"/>
      <add key="CombinedErrorLogPath" value="C:\PdfUtilityTool Log\ErrorLog.txt"/>

      <add key="LogUpdateTimeInSec" value="5"/>
    </appSettings>
</configuration>